.opp-pipeline-run-list {
  &__signed-indicator {
    display: inline-block;
    color: var(
      --pf-t--global--background--color--action--plain--default
    );
    margin-left: var(--pf-t--global--spacer--xs);
    vertical-align: middle;
  }
  &__results-indicator {
    display: inline-block;
    margin-left: var(--pf-t--global--spacer--xs);
    > svg {
      color: var(--pf-t--global--text--color--subtle);
    }
  }
}
