.opp-pac-form {
  &__body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: var(--pf-t--global--spacer--md);
  }
}

.pipelines-console-plugin__page-section-width {
  @media (min-width: 769px) {
    max-width: 650px;
  }

  @media (min-width: 992px) {
    min-width: 650px;
  }

  @media (min-width: 1200px) {
    max-width: 50%;
  }
}

.pipelines-console-plugin__background-transparent {
  background-color: transparent;
}

.opp-github-app-details-section {
  background-color: transparent;
  padding-left: var(--pf-t--global--spacer--md);
}

.opp-github-app-hint-section {
  border: var(--pf-t--global--border--width--md) solid
    var(--pf-t--global--border--color--nonstatus--default);
  border-radius: 16px;
}
