node_modules/
*.tgz
dist/
/coverage
.devcontainer/dev.env
integration-tests/gui_test_screenshots
integration-tests/videos
integration-tests/screenshots
yarn-error.log
*.log
.DS_Store
*.pem
*.swo
*.swp
.idea/
.env
.env.*
!.env.example
integration-tests/cypress-a11y-report.json
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
