node_modules/
dist/
/coverage
.devcontainer/dev.env
integration-tests/videos
integration-tests/screenshots
yarn-error.log
.DS_Store
*.pem
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
.agentready/
cve-artifacts/
