.opp-vulnerabilities {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pf-t--global--spacer--sm);
  &__severity {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--pf-t--global--spacer--xs);
  }
  &__severity-status {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--pf-t--global--spacer--xs);
  }
  &__severity-count {
    font-weight: var(--pf-t--global--font--weight--bold);
  }
}
