.editable-label-group {
  border: var(--pf-t--global--border--width--regular) solid var(--pf-t--global--border--color--default);
  border-radius: var(--pf-t--global--border--radius--small);
  padding: var(--pf-t--global--spacer--xs);
}
