.app-details {
  flex-grow: 1;

  &__tabs {
    display: flex;
    flex-direction: column;

    &__tabItem {
      position: relative;
      &.isFilled.pf-v6-c-tab-content {
        flex: 1;
      }
    }
  }
}

.action-menu-dropdown {
  inset-inline-end: 0;
  position: absolute;
  background: var(--pf-t--global--background--color--primary--default);
  box-shadow: var(--pf-t--global--box-shadow--md);
}
