.pipelines-approval-modal {
  overflow: auto;
  bottom: 15%;
}

.pipelines-approval-modal__text-box {
  height: 8rem !important;
}

.pipelines-approval-modal__title {
  padding-bottom: 0 !important;
  padding-left: var(--pf-t--global--spacer--xl);
  padding-top: var(--pf-t--global--spacer--md);
}

.pipelines-approval-modal__content {
  padding-bottom: 0 !important;
  padding-left: var(--pf-t--global--spacer--xl);
}

.pipelines-approval-modal__footer {
  padding-top: 0 !important;
  padding-left: var(--pf-t--global--spacer--xl);
}
