.pipelines-approval-status-icon {
  position: fixed;
  margin-left: -10px;

  @-moz-document url-prefix() {
    /* Firefox vertical-alignment fix */
    top: var(--pf-t--global--spacer--sm);
  }
}

.pipelines-approval-status-info {
  padding-left: var(--pf-t--global--border--width--md);
}
