.pipelines-metrix-dropdown {
  margin-top: var(--pf-global--spacer--md);
  margin-left: var(--pf-global--spacer--md);
}

.pipelines-metrics__background {
  background-color: var(--pf-global--BackgroundColor--200);
  padding-left: var(--pf-global--spacer--md);
  padding-right: var(--pf-global--spacer--md);
  padding-top: var(--pf-global--spacer--md);
  padding-bottom: var(--pf-global--spacer--md);
}

.pipelines-metrics__cards {
  margin-top: var(--pf-global--gutter);
  margin-bottom: var(--pf-global--gutter);
}
