.pipelines-metrix-dropdown {
  margin-top: var(--pf-t--global--spacer--md) !important;
  margin-left: var(--pf-t--global--spacer--md) !important;
}

.pipelines-metrics__background {
  background-color: var(--pf-t--global--background--color--secondary--default);
  padding-left: var(--pf-t--global--spacer--md);
  padding-right: var(--pf-t--global--spacer--md);
  padding-top: var(--pf-t--global--spacer--md);
  padding-bottom: var(--pf-t--global--spacer--md);
}

.pipelines-metrics__cards {
  margin-top: var(--pf-t--global--spacer--lg);
  margin-bottom: var(--pf-t--global--spacer--lg);
}

.pipelines-metrics__cards {
  .pipeline-overview__number-of-plr-card {
    &__body {
      padding: 0;
      height: 145px;
      width: 400px;
    }
  }
}

.k8s-overview-info-alert {
  margin-top: var(--pf-t--global--spacer--md);
  margin-left: var(--pf-t--global--spacer--md);
  margin-right: var(--pf-t--global--spacer--md);
  margin-bottom: 0;
}
