.tasks-list-page {
  &__tabs {
    padding-left: var(--pf-t--global--spacer--sm);
  }

  &__card {
    height: fit-content;
    box-shadow: none;
  }

  &__tab > button {
    font-size: larger;
  }
}

.task-run-list {
  &__results-indicator {
    display: inline-block;
    margin-left: var(--pf-t--global--spacer--xs);
    > svg {
      color: var(--pf-t--global--text--color--subtle);
    }
  }
}
