.pipelines-approval-status-badge {
  height: 30px;
}

.pipelines-approval-approver__wait {
  top: var(--pf-t--global--spacer--form-element);
  position: relative;
  left: -9px;
  width: var(--pf-t--global--spacer--md);
}

.pipelines-approval-approver__approved {
  top: 5px;
  position: relative;
  left: -9px;
  width: var(--pf-t--global--font--size--xl);
}

.pipelines-approval-approver-list {
  margin-top: var(--pf-t--global--spacer--form-element);
}
