.opp-builder-finally-node {
  fill: var(--pf-t--global--background--color--primary--default);
  stroke-width: 1;
  stroke: var(--pf-t--global--border--color--default);

  &__task-connectors {
    stroke: var(--pf-t--global--border--color--default);
    fill: none;
    transform: translate(0.5, 0.5);
  }
  &__text {
    fill: var(--pf-t--global--color--brand--default);
  }
}
