.opp-finally-node {
  fill: var(--pf-t--global--background--color--primary--default);
  stroke: var(--pf-t--global--border--color--default);
  &__connector {
    stroke: var(--pf-t--global--border--color--default);
    fill: none;
    transform: translate(0, 0.5);
  }
}
