.odc-pipeline-topology__task-node {
  &.is-link {
    >g a:hover {
      text-decoration: none;
    }
  }
  &:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.osp-pipeline-task-node__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .co-m-resource-icon {
    margin: 0;
    font-size: var(--pf-t--global--font--size--xs);
  }
}
