.odc-task-list-node {
  border: 1px solid var(--pf-t--global--border--color--default);

  &__container {
    overflow: hidden;
    box-shadow: var(--pf-v6-c-dropdown__menu--BoxShadow);
  }
  &__trigger-background {
    stroke: var(--pf-t--global--border--color--default);
    fill: var(--pf-t--global--background--color--primary--default);
    &.is-disabled {
      fill: var(--pf-t--global--color--nonstatus--gray--200);
    }
  }
  &__trigger-underline {
    fill: var(--pf-t--global--text--color--regular);
    &--hover {
      fill: var(--pf-t--global--color--brand--default);
    }
  }
  &__trigger {
    font-size: var(--pf-t--global--font--size--md);
    text-anchor: middle;
    dominant-baseline: middle;
    cursor: pointer;
  }
  &__trigger-disabled {
    fill: var(--pf-t--global--text--color--disabled);
  }
  &__list-items {
    max-height: 350px;
    overflow: auto;
  }
  &__divider {
    border-color: var(--pf-t--global--border--color--default);
    margin: 0;
  }
  &__render-text {
    fill: var(--pf-t--global--text--color--regular);
  }
}
