$pf-t-global-spacer-lg: 1rem; // Matches --pf-t--global--spacer--lg
$pf-t-global-spacer-xl: 1.5rem; // Matches --pf-t--global--spacer--xl
$pf-t-global-breakpoint-xl: 1200px !default;

.ocs-form-footer {
  padding: var(--pf-t--global--spacer--md) $pf-t-global-spacer-lg;
  @media (min-width: $pf-t-global-breakpoint-xl) {
    padding: var(--pf-t--global--spacer--md) $pf-t-global-spacer-xl;
  }
  &__sticky {
    position: sticky;
    background-color: var(pf-v6-u-background-color-dark-400);
    bottom: 0;
  }
  &__shadow {
    box-shadow: var(--pf-t--global--box-shadow--sm--top);
  }
}
