.osc-yaml-editor {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  margin-right: -var(--pf-v5-global--gutter);
  @media (max-width: var(--pf-v5-global--breakpoint--md)) {
    margin-left: -var(--pf-v5-global--gutter);
    margin-top: -var(--pf-v5-global--gutter--md);
  }
  @media (min-width: var(--pf-v5-global--breakpoint--xl)) {
    margin-right: -var(--pf-v5-global--gutter--md);
  }

  &__editor {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    @media (min-width: var(--pf-v5-global--breakpoint--xl)) {
      margin-right: var(--pf-v5-global--gutter);
    }
    @media (min-width: var(--pf-v5-global--breakpoint--xl)) {
      margin-right: var(--pf-v5-global--gutter--md);
    }
  }
  &__sidebar {
    display: flex;
    width: 34%;
    margin-top: -var(--pf-v5-global--gutter--md);
    @media screen and (max-width: var(--pf-v5-global--breakpoint--lg)) {
      display: none;
    }
  }
}
