.osc-yaml-editor {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  margin-right: -var(--pf-t--global--spacer--lg);
  @media (max-width: var(--pf-t--global--breakpoint--md)) {
    margin-left: -var(--pf-t--global--spacer--lg);
    margin-top: -var(--pf-t--global--spacer--xl);
  }
  @media (min-width: var(--pf-t--global--breakpoint--xl)) {
    margin-right: -var(--pf-t--global--spacer--xl);
  }

  &__editor {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 100%;
    @media (min-width: var(--pf-t--global--breakpoint--xl)) {
      margin-right: var(--pf-t--global--spacer--lg);
    }
    @media (min-width: var(--pf-t--global--breakpoint--xl)) {
      margin-right: var(--pf-t--global--spacer--xl);
    }
  }
  &__sidebar {
    display: flex;
    width: 34%;
    margin-top: -var(--pf-t--global--spacer--xl);
    @media screen and (max-width: var(--pf-t--global--breakpoint--lg)) {
      display: none;
    }
  }
}

.odc-p-has-sidebar {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;

  &__body {
    flex: 2;
    max-width: 100%;

    @media (min-width: 768px) {
      // $screen-md-min
      &--sidebar-open {
        max-width: 66%;
      }
    }
  }

  &__sidebar {
    position: relative;

    @media (min-width: 768px) {
      flex: 1 0 auto;
      overflow-y: auto;
      max-width: 34%;
    }

    &--bordered {
      @media (max-width: 767px) {
        border-top: var(--pf-t--global--border--width--sm) solid
          var(--pf-t--global--border--color--default);
      }

      @media (min-width: 768px) {
        border-left: var(--pf-t--global--border--width--sm) solid
          var(--pf-t--global--border--color--default);
      }
    }
  }

  &__sidebar-body {
    position: absolute;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }
}
