.ocs-synced-editor-field {
  &__editor-toggle {
    border-bottom: var(--pf-t--global--border--width--divider--default) solid
      var(--pf-t--global--border--color--default);
    border-top: var(--pf-t--global--border--width--divider--default) solid
      var(--pf-t--global--border--color--default);
    margin-left: -var(--pf-t--global--spacer--lg);
    margin-right: -var(--pf-t--global--spacer--lg);
    padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--lg);
    @media (min-width: var(--pf-t--global--breakpoint--xl)) {
      margin-left: -var(--pf-t--global--spacer--xl);
      margin-right: -var(--pf-t--global--spacer--xl);
    }
    @media (min-width: var(--pf-t--global--breakpoint--xl)) {
      padding-left: var(--pf-t--global--spacer--xl);
      padding-right: var(--pf-t--global--spacer--xl);
    }

    &.margin {
      margin: var(--pf-t--global--spacer--md) 0;
    }
  }

  &__yaml-warning {
    margin: var(--pf-t--global--spacer--xl) var(--pf-t--global--spacer--xl) 0;
  }
}
