.odc-pipeline-run-logs {
  display: flex;
  flex: 1;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: var(--pf-t--global--spacer--xl) 0;
  &__nav {
    padding-top: 0;
    list-style-type: none;
  }
  &__nav .co-icon-and-text {
    position: relative;
    top: 0.35em;
  }
  &__namespan {
    margin-left: var(--pf-t--global--spacer--sm);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__navitem {
    .pf-v6-c-nav__link {
      border-left: 3px solid transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &.pf-m-current {
        border-left-color: var(--pf-t--global--color--brand--default);
        color: var(--pf-t--global--color--brand--default);
        font-weight: var(--pf-t--global--fontweight--bold);
      }
    }
  }
  &__log {
    height: 100%;
    padding-top: var(--pf-t--global--spacer--md);
  }
  &__logtext {
    position: relative;
    background: var(
      --pf-t--global--color--nonstatus--gray--1000
    ); // pod log background color
    color: var(--pf-t--global--color--nonstatus--gray--100);
    height: 100%;
    padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md);
  }
  &__logsnippet {
    margin-top: var(--pf-t--global--spacer--sm);
  }
  &__tasklist {
    max-width: 30%;
    min-width: 208px;
    overflow-y: auto;
  }
  &__container {
    flex: 1;
    padding-right: var(--pf-t--global--spacer--xl);
  }
  &__container .co-m-pane__body {
    padding: 0px;
  }
}

.odc-pipeline-run-logs-main-div {
  position: relative;
  height: 100%;
}
