.ocs-quick-search-bar {
  &.pf-v6-c-input-group {
    background-color: var(--pf-t--global--background--color--primary--default);
    gap: unset;
    &__item.pf-v6-m-box {
      border: none;
    }
  }
  &:hover {
    cursor: move;
  }
  &__input-dummy {
    padding: 5px 8px;
    position: fixed;
    visibility: hidden;
    max-width: 100%;
    z-index: 0;
    white-space: nowrap;
  }
  &__input {
    cursor: auto;
    border: none !important;
    display: block;
    z-index: 1;
    border-radius: unset;
    > input {
      height: 60px !important;
      outline: none;
      border: none !important;
      padding: 8px;
    }
    &-wrapper {
      max-width: 100%;
      display: inline-flex;
    }
    &.pf-v6-c-form-control:before,
    &.pf-v6-c-form-control:after {
      display: none;
    }
  }
  &__message {
    white-space: nowrap;
  }
  &__border-none {
    border: none !important;
  }
  &__spinner {
    margin-left: auto !important;
  }
  &__icon {
    background-color: var(--pf-t--global--background--color--secondary--default);
    border-bottom: solid var(--pf-v5-global--BorderWidth--sm) var(--pf-v5-global--BorderColor--200);
  }
}
