.ocs-quick-search-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__list {
    border-top: var(--pf-v6-c-data-list--sm--BorderTopWidth) solid
      var(--pf-v6-c-data-list--sm--BorderTopColor) !important;
    border-bottom: var(--pf-v6-c-data-list--sm--BorderTopWidth) solid
      var(--pf-v6-c-data-list--sm--BorderTopColor) !important;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 0 !important;
  }
  &__item {
    border-block-end: var(--pf-v6-c-data-list__item--BorderBlockEndWidth) solid var(--pf-v6-c-data-list__item--BorderBlockEndColor) !important;
    &:last-of-type {
      .ocs-quick-search-content__list--overflow & {
        border-bottom: 0 !important;
      }
    }
    &--highlight {
      border-left: 5px solid transparent;
      border-left-color: var(--pf-t--global--color--brand--default);
    }
  }
  &__item-row {
    padding: 0 var(--pf-t--global--spacer--sm) !important;
  }
  &__item-content {
    align-items: center;
  }
  &__item-icon {
    height: 30px;
    width: 30px;
    padding-left: var(--pf-t--global--spacer--xs);
  }
  &__item-name {
    font-size: var(--pf-t--global--font--size--sm);
    font-weight: 600;
    font-family: var(--pf-t--global--font--family--heading);
  }
  &__all-items {
    border-bottom: var(--pf-v6-c-data-list__item--sm--BorderBottomWidth) solid
      var(--pf-v6-c-data-list__item--sm--BorderBottomColor) !important;
  }
  &__all-items-link {
    padding: var(--pf-t--global--spacer--sm) 0 var(--pf-t--global--spacer--md);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  &__secondary-label {
    margin-left: var(--pf-t--global--border--width--md);
  }
}
