.ocs-quick-search-modal {
  box-shadow: none !important;
  overflow: unset;
  background: none !important;
  &__no-backdrop {
    .pf-v6-c-backdrop {
      background: none;
      position: absolute;
      overflow: hidden;
    }
  }
}
