name: Build and Publish Container

on:
  push:
    branches:
      - main
      - release-v* # example: release-v1.14
      - main_ocp_4.22
    tags: ['v*']
  pull_request:
    branches:
      - main
      - main_ocp_4.22
  workflow_dispatch:

jobs:
  setup:
    name: build container
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: Enable Corepack
        run: corepack enable

      - uses: docker/setup-buildx-action@v3

      - name: Login in to ghcr.io registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}

      - name: Build and push Dynamic Console container image
        run: ./scripts/build_container.sh
        env:
          SUPPORT_MULTI_ARCH: "true"
          CONSOLE_PLUGIN_IMAGE_REPO: ${{ github.event_name == 'pull_request' && format('ttl.sh/{0}/console-plugin-pr-{1}', github.repository, github.event.pull_request.number) || format('ghcr.io/{0}', github.repository) }}
          CONSOLE_PLUGIN_IMAGE_TAG: ${{ github.event_name == 'pull_request' && '24h' || github.ref_name }}